<%- include('includes/head.ejs') %>
<h2 class="text-center my-sm-4">Confirm Your Booking!</h2>
  <!-- Form Start -->
  <form action="/paymentconfirm_success" method="POST">
        <div class="form-row">
          <div class="form-group col-md-9">
            <label for="creditcard"><i class="fa fa-credit-card-o" aria-hidden="true"></i> Card Number</label>
            <input type="tel" pattern="\d*" maxlength="19" class="form-control" id="creditcard" required>
          </div>
          <div class="form-group col-md-3">
            <label for="card-type">Type</label>
            <select id="card-type" class="form-control" required>
              <option selected>VISA</option>
              <option>MASTERCARD</option>
              <option>AMEX</option>
            </select>
          </div>
        </div>
        <div class="form-row">
        <div class="form-group col-md-5">
            <label for="name"><i class="fa fa-credit-card-o" aria-hidden="true"></i> Name On Card</label>
            <input type="text"  class="form-control" id="name" required>
        </div>
        <div class="form-group col-md-3">
            <label for="cvv"><i class="fa fa-credit-card-o" aria-hidden="true"></i> CVV</label>
            <input type="password" maxlength="3"  class="form-control" id="cvv" required>
        </div>
        <div class="form-group col-md-4">
            <label for="date"><i class="fa fa-credit-card-o" aria-hidden="true"></i> Expiry Date</label>
            <input type="date"  class="form-control" id="date" required>
        </div>
        </div>
        <div class="col-sm-12 text-center"><button type="submit" class="btn-teal py-sm-2 w-50 px-sm-1 py-sm-1 btn"><b>Proceed!</b></button>
        </div>            
      </form>
    </div>
    <div class="col-sm-3"></div>
  <!-- Form End -->
  
<!-- <%- include('includes/foot.ejs') %> -->