<%- include('includes/head.ejs') %>

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
<!-- <div class="container">

   
  
    <div class="row">
  
        <div class="col-4">
            <a href="#" class="d-block mb-4 h-50">
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
                </a>
        </div>

        <div class=" col-3">
            <a href="#" class="d-block mb-4 ">
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
                </a>
        </div>

      <div class="col">
        <a href="#" class="d-block mb-4 h-50">
              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
            </a>
      </div>
     </div>


      <div class="col-lg-4 col-md-4 col-3">
        <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
            </a>
    </div> -->
    <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="images/Goa.jpg" target="_blank">
          <img src="images/Goa.jpg" alt="Goa" style="width:100%">
          <div class="caption">
            <p>Goa</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="images/Indiana.jpg" target="_blank">
          <img src="images/Indiana.jpg" alt="Indiana" style="width:100%">
          <div class="caption">
            <p>Indiana</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="images/Singapore.jpg" target="_blank">
          <img src="images/Singapore.jpg" alt="Singapore" style="width:1oo%">
          <div class="caption">
            <p>Singapore</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

</body>
</html>



  <!-- /.container -->



<!-- Reviews Start-->
<!-- <div class="row text-center my-sm-5 py-sm-2 px-sm-2 w-75 justify-content-center mx-auto">
    <div class="col-sm-12 p-sm-1 py-sm-2"><h2 id="city" class="display-6"></h2></div>
    <div class="col-sm-3 p-sm-2 flight-results mx-sm-1 rounded-right rounded-left image-box">
        <img src="images/2.jpg" alt="img here"/>  
        <p>WEATHER!</p>
        <p>The weather cannot get better than this!</p>
    </div>
    <div class="col-sm-3 p-sm-3 flight-results mx-sm-1 rounded-right rounded-left image-box">
        <img src="images/1.jpg" alt="img here"/>    
        <p>AMAZING FOOD</p>
        <p>It is known for its amazing food!</p>
    </div>
    <div class="col-sm-3 p-sm-3 flight-results mx-sm-1 rounded-right rounded-left image-box">
        <img src="images/3.jpg" alt="img here"/>    
        <p>GREAT COMMUNITY</p>
        <p>People here are known to be friendly and extremely polite!</p>
    </div>
</div>
<p> </p> -->
<!-- Reviews End-->
<script>
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
        
        var city = getParameterByName('search');

        document.getElementById('city').innerHTML= city;
        document.getElementById('test1').innerHTML = city;
</script>
<!-- <%- include('includes/foot.ejs') %> -->