<%- include('includes/head.ejs') %>
<div class="content-wrap">
<!-- Flights Result Display Box Start-->
<a href="/confirmBooking1k93"><div class="row rounded-right rounded-left text-center my-sm-5 py-sm-2 px-sm-2 flight-results w-75 mx-auto">
    <div class="col-sm-12 p-sm-1 py-sm-2"><h2 id="airline-name" class="display-6">Delta Air lines</h2></div>
    <div class="col-sm-4 p-sm-2">
        <p><b>Source</b> : <span class="source">  </span></p>
        <p><b>Destination</b> : <span  class="destination"></span></p>
    </div>
    <div class="col-sm-4 p-sm-2">
        <p><b>Departure Date</b> : <span class="date">  </span></p>
        <p><b>Departure Time</b> : <span  id="departure-time"> 22:40 </span></p> 
    </div>
    <div class="col-sm-4 p-sm-2">
        <p><b>Class</b> : <span id="flight-class"> S-Grade </span></p>
        <p><b>Fare</b> : <span  id="flight-fare"> 25000 </span></p> 
        <p><b>Seats</b> : <span  id="flight-seats"> 60 </span></p> 
    </div>
</div>
</a>
<!-- Flights Result Display Box End-->

<!-- Flights Result Display Box Start-->
<a href="/confirmBooking2x4f">
<div class="row rounded-right rounded-left text-center my-sm-5 py-sm-2 px-sm-2 flight-results w-75 mx-auto">
    <div class="col-sm-12 p-sm-1 py-sm-2"><h2 id="airline-name" class="display-6">Jet Airways</h2></div>
    <div class="col-sm-4 p-sm-2">
        <p><b>Source</b> : <span class="source">  </span></p>
        <p><b>Destination</b> : <span  class="destination"></span></p>
    </div>
    <div class="col-sm-4 p-sm-2">
        <p><b>Departure Date</b> : <span class="date">  </span></p>
        <p><b>Departure Time</b> : <span  id="departure-time"> 04:30 </span></p> 
    </div>
    <div class="col-sm-4 p-sm-2">
        <p><b>Class</b> : <span id="flight-class"> a-Grade </span></p>
        <p><b>Fare</b> : <span  id="flight-fare"> 20000 </span></p> 
        <p><b>Seats</b> : <span  id="flight-seats"> 40 </span></p> 
    </div>
</div>
</a>
<!-- Flights Result Display Box End-->

<!-- Flights Result Display Box Start-->
<a href="/confirmBooking283n">
<div class="row rounded-right rounded-left text-center my-sm-5 py-sm-2 px-sm-2 flight-results w-75 mx-auto">
    <div class="col-sm-12 p-sm-1 py-sm-2"><h2 id="airline-name" class="display-6">Singapore Airlines</h2></div>
    <div class="col-sm-4 p-sm-2">
        <p><b>Source</b> : <span class="source">  </span></p>
        <p><b>Destination</b> : <span  class="destination"></span></p>
    </div>
    <div class="col-sm-4 p-sm-2">
        <p><b>Departure Date</b> : <span class="date">  </span></p>
        <p><b>Departure Time</b> : <span id="departure-time"> 15:00 </span></p> 
    </div>
    <div class="col-sm-4 p-sm-2">
        <p><b>Class</b> : <span id="flight-class"> A-Grade </span></p>
        <p><b>Fare</b> : <span  id="flight-fare"> 30000 </span></p> 
        <p><b>Seats</b> : <span  id="flight-seats"> 100 </span></p> 
    </div>
</div>
</div>
</a>
<!-- Flights Result Display Box End-->
<script>
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
        
        var date = getParameterByName('date');
        var source = getParameterByName('source');
        var dest = getParameterByName('destination');
        
        
        function replaceTextInClass(className, text) {
    var elms = document.querySelectorAll('.' + className), i;
    for (i = 0; i < elms.length; ++i) {
        elms[i].textContent = text;
    }
}
replaceTextInClass('date', date);
replaceTextInClass('destination', dest);
replaceTextInClass('source', source);

sessionStorage.setItem("date", date);
sessionStorage.setItem("source", source);
sessionStorage.setItem("destination", dest);

</script>


<!-- <%- include('includes/foot.ejs') %> -->