<%- include('includes/head.ejs') %>
<section id="explore">
<h1 class="text-center my-sm-4">Payment Completed Successfully!</h1>
<br>
<h4 class="text-center my-sm-4">To get a copy of your ticket input your email address below.</h4>
    <!-- Form Start -->
    <div class="col-sm-3"></div>
    <div class="col-sm-6 mx-auto">
    <form action="/explorer" method="get">
        <div class="form-row">
            <div class="form-group col-md-12">
            <label for="email"><i class="fa fa-envelope-open-text" aria-hidden="true"></i> email</label>
            <input type="email" class="form-control" id="email" name="email">
            </div>
        </div>
        <div class="col-sm-12 text-center"><button type="submit" class="btn-teal py-sm-2 w-50 px-sm-1 py-sm-1 btn"><b><i class="fa fa-arrow-right" aria-hidden="true"></i> Send!</b></button>
        </div>            
        </form>
    </div>
    <div class="col-sm-3"></div>
    <!-- Form End -->
</div>
</section>
<%- include('includes/foot.ejs') %>