<%- include('includes/head.ejs') %>
<section id="explore">
<h1 class="text-center my-sm-4">Payment Completed Successfully!</h1>
<br>
<h4 class="text-center my-sm-4">Check your email shortly for your copy of the ticket!</h4>
</section>
<%- include('includes/foot.ejs') %>