<%- include('includes/head.ejs') %>
<div class="success text-center">
        <h2 class="text-center my-sm-4">Your response has been recorded successfully.!</h2>
</div>
<%- include('includes/foot.ejs') %>